.setting .table{
    border: 0px;
}

.setting .table thead th{
    border-left: 0px solid;
    border-right: 0px solid;
}

.setting .table td{
    border-left: 0px solid;
    border-right: 0px solid;
}

.setting .table th:first-child, .table tr td:first-child{
    width: 2%;
}
