.predict .table{
    border: 0px;
}

.predict .table thead th{
    border-left: 0px solid;
    border-right: 0px solid;
}

.predict .table td{
    border-left: 0px solid;
    border-right: 0px solid;
}

.predict .table th:first-child, .table tr td:first-child{
    width: 2%;
}

.predict thead tr th:nth-child(5){
    width: 3vw;
}

.predict tbody tr td:nth-child(5) input{
    width: 3vw;
}

.dropdown-toggle{
    position: relative;
    top: 2vh;
    left: -5vw
}

.react-bootstrap-table-pagination-list {
    position: relative;
    top: 2vh;
    right: -15vw
}

.dropdown-menu{
    top: 5vh;
    left: -5vw
}


